<div id="{{ patternPartial }}" class="pl-c-pattern">

	<div class="pl-c-pattern__header">

		<h3 class="pl-c-pattern__title">
				
			<a href="../../patterns/{{ patternLink }}" class="pl-c-pattern__title-link patternLink" data-patternpartial="{{ patternPartial }}" title="Link to Pattern">
				{{ patternName }}
				
				{{# patternState }}
					<span class="sg-pattern-state {{ . }}">{{ . }}</span>
				{{/ patternState }}

			</a><!--end pl-c-pattern__title-link-->

		</h3><!--end pl-c-pattern__title-->

		<button class="pl-c-pattern__extra-toggle sg-pattern-extra-toggle" id="sg-pattern-extra-toggle-{{patternPartial}}" data-patternpartial="{{ patternPartial }}" title="View Pattern Info">
			&#9660;
		</button><!--end pl-c-pattern__extra-toggle-->
		
	</div><!--end pl-c-pattern__header-->
  
	<div class="pl-c-pattern__extra sg-pattern-extra" id="sg-pattern-extra-{{ patternPartial }}">
    </div><!--end pl-c-pattern__extra-->

	<div class="pl-c-pattern__example sg-pattern-example">
	{{{ patternPartialCode }}}
	</div><!--end pl-c-pattern__example-->

	<script type="text/json" id="sg-pattern-data-{{patternPartial}}" class="pl-c-pattern__data sg-pattern-data">
	{{{ patternData }}}
	</script>

</div><!--end pl-c-pattern-->