<div id="{{ patternPartial }}" class="sg-pattern">
	<div class="sg-pattern-head">
		<h3><a href="../../patterns/{{ patternLink }}" class="patternLink" data-patternpartial="{{ patternPartial }}" title="Link to Pattern">{{ patternName }}</a></h3>
		<a href="#{{ patternPartial }}-extra" title="View Pattern Info" class="sg-pattern-extra-toggle">&#9660;</a>
	</div>
	<div class="sg-pattern-extra" id="{{ patternPartial }}-extra">
		<div class="sg-pattern-extra-info">
			{{# patternDescExists }}
			<div class="sg-pattern-desc">
				<div>{{{ patternDesc }}}</div>
				{{# patternDescAdditions }}
					{{{ . }}}
				{{/ patternDescAdditions }}
			</div>
			{{/ patternDescExists }}
			{{# patternExampleAdditions }}
				{{{ . }}}
			{{/ patternExampleAdditions }}
			<div class="sg-pattern-extra-annotations">
				<div id="sg-pattern-extra-annotations-container">
				</div>
			</div><!--end .sg-pattern-extra-annotations-->
			<div class="sg-pattern-extra-lineage">
				{{# patternLineageExists }}
				<div class="sg-pattern-extra-lineage">
					The <span class="sg-pattern-extra-lineage-name">{{ patternPartial }}</span> pattern contains the following pattern(s): 
					<ul>
					{{# patternLineages }}
						<li> <a href="{{ lineagePath }}" class="{{# lineageState }}sg-pattern-state {{.}} {{/ lineageState }}" data-patternpartial="{{ lineagePattern }}">{{ lineagePattern }}</a></li>
					{{/ patternLineages }}
					</ul>
				</div>
				{{/ patternLineageExists }}
				{{# patternLineageRExists }}
				<div class="sg-pattern-extra-lineage">
					The <span class="sg-pattern-extra-lineage-name">{{ patternPartial }}</span> pattern is included in the following pattern(s): 
					<ul>
					{{# patternLineagesR }}
						<li> <a href="{{ lineagePath }}" class="{{# lineageState }}sg-pattern-state {{.}} {{/ lineageState }}" data-patternpartial="{{ lineagePattern }}">{{ lineagePattern }}</a></li>
					{{/ patternLineagesR }}
					</ul>
				</div>
				{{/ patternLineageRExists }}
				{{^ patternLineageEExists }}
				{{/ patternLineageEExists }}
			</div><!--end .sg-pattern-extra-lineage-->
		</div><!--end .sg-pattern-extra-info-->
		<div class="sg-pattern-extra-code">
			<div class="sg-tab">
				<ul class="sg-tab-list">
				    <li><a href="#{{ patternPartial }}-tab-1" class="active">HTML</a></li>
				    <li><a href="#{{ patternPartial }}-tab-2">Mustache</a></li>
				    <li><a href="#{{ patternPartial }}-tab-3">CSS</a></li>
				    <li><a href="#{{ patternPartial }}-tab-4">JS</a></li>
				</ul>
				<div class="sg-tab-content">
					<div class="sg-tab-panel" id="sg-tab-panel-1">
						<div class="sg-pattern-extra-html">
							<pre>
								<code id="sg-pattern-extra-html-container" class="language-markup">
									{{{ patternPartialCodeE }}}
								</code>
							</pre>
						</div>
					</div><!--end .sg-tab-panel-->
					<div class="sg-tab-panel" id="sg-tab-panel-2">
						<div class="sg-pattern-extra-engine">
							<pre>
								<code id="sg-pattern-extra-engine-container" class="language-markup">
								</code>
							</pre>
						</div>
					</div><!--end .sg-tab-panel-->
					{{# patternCSSExists }}
					<div class="sg-tab-panel" id="sg-tab-panel-3">
						<div class="sg-pattern-extra-css">
							<pre>
								<code id="sg-pattern-extra-css-container" class="language-css">
									{{ patternCSS }}
								</code>
							</pre>
						</div>
					</div><!--end .sg-tab-panel-->
					{{/ patternCSSExists }}
				</div><!--end .sg-tab-content-->
			</div><!--end .sg-tab-->
		</div><!--end .sg-pattern-extra-code-->
	</div><!--end .sg-pattern-extra-->
	<div class="sg-pattern-example">
		{{{ patternPartialCode }}}
	</div>
</div><!--end .sg-pattern-->