<!-- View All Patterns in a Pattern Sub-Type -->
<div class="pl-c-main sg-main" role="main">
  
	<!-- Index of Patterns -->
	<div class="pl-c-pattern-index" id="sg-patterns">
	
		{{# partials }}
			{{# patternSectionSubtype }}
			{{> patternSectionSubtype }}
			{{/ patternSectionSubtype }}
			{{^ patternSectionSubtype }}
			{{> patternSection }}
			{{/ patternSectionSubtype }}
		{{/ partials }}

  </div><!--end pl-c-pattern-index-->

</div><!--end pl-c-main-->
